.book-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}

.book {
  margin: 25px;
}

.loader {
  position: absolute;
  top: 50vh;
  left: 60vw;
}
