.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.house-card {
  width: 350px;
  height: 400px;
  margin: 25px;
  background-color: rgb(249, 249, 249);
  box-shadow: 1px 0px 4px #888888;
  border: 1px solid black;
}

.house-card p {
  margin-left: 15px;
}

.lord-details-container {
  width: 100%;
}

.inner-lord-container {
  margin: 25%;
  box-shadow: 1px 0px 4px #888888;
  overflow: auto;
}

.lord-text-holder p {
  margin-left: 8px;
  margin-bottom: 8px;
}

.member-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: auto;
}

.member-card {
  width: 350px;
  height: 400px;
  margin: 25px;
  background-color: rgb(249, 249, 249);
  box-shadow: 1px 0px 4px #888888;
  border: 1px solid black;
  padding: 25px;
  padding-bottom: 0px;
  padding-top: 0;
}
